

.demo {
  position: relative;
  margin: 120px auto;
  width: 150px;
}

.loads {
  position: absolute;
  opacity: .8;
}

.loads circle {
  animation: draw 4s infinite ease-in-out;
  transform-origin: center;
  transform: rotate(-90deg);
}

.loads-2 circle,
.loads-6 circle {
  animation-delay: 1s;
}

.loads-7 circle {
  animation-delay: 2s;
}

.loads-4 circle,
.loads-8 circle {
  animation-delay: 3s;
}

.loads-3 {
  left: -150px;
  transform: rotateY(180deg);
}

.loads-6,
.loads-7,
.loads-8 {
  left: -150px;
  transform: rotateX(180deg) rotateY(180deg);
}

.loads-5 circle {
  opacity: .7;
}

@keyframes draw {
  50% {
    stroke-dashoffset: -1;
    transform: scale(.5);
  }
}
