<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>GenZ</title>
  <meta name="description" content="" />

  <meta name="Robots" content="INDEX,ALL" />
  <meta name="YahooSeeker" content="INDEX, FOLLOW" />
  <meta name="msnbot" content="INDEX, FOLLOW" />
  <meta name="googlebot" content="INDEX, FOLLOW" />
  <meta name="allow-search" content="yes" />
  <meta name="revisit-after" content="daily" />
  <meta name="Rating" content="General" />
  <meta name="site" content="https://www.example.com" />
  <meta name="distribution" content="global" />
  <meta name="Copyright" content="" />
  <meta name="theme-color" content="#0e5354" />
  <link rel="stylesheet" href="/css/main.css" />
  <script type="text/javascript">
    if(window.location.protocol !== 'https:') {
      location.href = location.href.replace("http://", "https://");
    }
  </script>
</head>

<body>
  <div id="reactbody">
    <div>
      <%- html %>
    </div>
  </div>
  <script>
    window.__INITIAL_STATE__ = <%- script %>
  </script>
  <script src="/js/index.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
  <script>
  $(document).ready(function(){
    var prevScroll = 0,
        burger = document.querySelector('.nav-toggle'),
        menu = document.querySelector('.nav-menu'),
        distanceScrolled = 0,
        navHeight = 0,
        heroTextOffset = 0,
        threshold = 0,
        triggerBackgroundColor = 0,
        distanceScrolledCount = 0;
    burger.addEventListener('click', function() {
      burger.classList.toggle('is-active');
      menu.classList.toggle('is-active');
    });


    // On window scroll
    $(window).scroll(function(){
      navHeight = $(".nav").height();
      distanceScrolled = $(window).scrollTop() - (navHeight / 7);
      heroTextOffset = $('#hero-text').offset().top - navHeight;
      threshold = 0;
      distanceScrolledCount = heroTextOffset - distanceScrolled;

      if (threshold > distanceScrolledCount) {
        $(".nav").css("background" , "#01192d");
        $(".nav").css("transition" , ".5s all");
        $(".nav").css("box-shadow" , "none");
      }
      else {
        $(".nav").css("background" , "transparent");
        $(".nav").css("box-shadow", "0 1px 0 rgba(255, 255, 255, 0.2)");
      }

      if ($(".nav-menu").hasClass("is-active")) {
          $(".nav-menu").removeClass("is-active");
          $(".nav-toggle").removeClass("is-active");
      }
      /*if (scroll < prevScroll) {
          $(".nav-menu").removeClass("is-active");
          $(".nav-toggle").removeClass("is-active");
          if (scroll <= 5) {
            $(".nav").css("background" , "transparent");
          }
      }
      else if (scroll > 5) {
        prevScroll = scroll;
        $(".nav").css("background" , "#01192d");
        $(".nav").css("transition" , ".8s all");
        $(".nav").css("box-shadow" , "none");
      }*/
    });
  })
  </script>
</body>

</html>
